@import _normalize.sass
@import bootstrap-grid.min.scss
@font-face 
  font-family: 'Gilroy-Semibold'
  src: url('Gilroy-Semibold.eot')
  src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Semibold.svg#Gilroy-Semibold') format('svg'), url('../fonts/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy-Semibold.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@mixin montserrat
    font-family: 'Montserrat', sans-serif
@mixin flex
    display: flex
    align-items: center
    justify-content: space-between
body
    font-family: Gilroy-Semibold
    padding: 30px
    background: #F4F9FC
li
  list-style: none
a
  text-decoration: none
.container
  max-width: 1297px
.logo
  width: 202px
  height: 70px
.header
  &_body
    @include flex
  &_menu
    margin-right: 260px
    &_item
      margin-right: 24px  
      display: inline-block
      &:last-child
        margin-right: 0
    &_link
      font-weight: 600
      font-size: 16px
      line-height: 19px
      letter-spacing: -0.01em
      color: #13171D
  &_adress
    position: relative
    font-size: 14px
    color: #13171D
    &::before
      content: url("../img/map.png")
      width: 32px
      height: 32px
      position: absolute
      top: 0
      left: -50px
  &_map
    font-size: 12px
    text-decoration-line: underline
    color: #015AA9
  &_btn
    padding: 16px
    border: none
    background: rgba(226, 0, 26, 0.1)
    border-radius: 15px
    cursor: pointer
  &_number
    font-weight: 600
    font-size: 20px
    letter-spacing: -0.01em
    color: #13171D
    display: inline-block

.home
  margin-top: 139px
  &_body 
    @include flex
    align-items: normal
    position: relative
  &_title
    font-weight: bold
    font-size: 90px
    line-height: 100px
    letter-spacing: -0.01em
    color: #13171D
  &_subtitle
    font-size: 24px
    line-height: 34px
    letter-spacing: -0.01em
    color: #444444
  &_btn
    background: #E2001A
    border-radius: 15px
    display: inline-block
    padding: 18px 30px
    margin-top: 40px
    &_link
      font-weight: 600
      font-size: 16px
      line-height: 26px
      letter-spacing: -0.01em
      color: #FFFFFF
  &_img
    position: relative
    max-width: 765px
    max-height: 797px
    &_master
      border: 1px dashed rgba(0,0 ,0 ,0.2 )
      border-radius: 100%
      padding: 0 30px 146px 125px
      width: 609px
      height: 651px
      box-shadow: 4px 4px 100px 77px rgba(229, 176, 49, 0.2)
  &_detail
    position: absolute
    top: 36px
    left: 100px
    background-color: #fff
    border-radius: 100%
    padding: 10px
    width: 56px
    height: 56px
  &_phone
    position: absolute
    bottom: 117px
    left: 35px
    background-color: #fff
    border-radius: 100%
    padding: 10px
    width: 50px
    height: 50px
  &_laptop
    position: absolute
    top: 45px
    right: 105px
    background-color: #fff
    border-radius: 100%
    padding: 10px
    width: 36px
    height: 36px
  &_pc
    position: absolute
    bottom: 135px
    right: 35px
    background-color: #fff
    border-radius: 100%
    padding: 10px
    width: 36px
    height: 36px
  &_arrow
    position: absolute
    top: 115px
    left: -110px
  &_wave
    position: absolute
    top: 0
    right: -17%
  &_elipse
    position: absolute
    bottom: 0
    left: -17%
  &_dots
    position: absolute
    bottom: 0
    right: -23%
  &_advantages
    @include flex
  &_sale
    background: #FFFFFF
    box-shadow: 0px 71px 80px rgba(255, 107, 0, 0.11), 0px 21.4044px 24.1177px rgba(255, 107, 0, 0.0716748), 0px 8.8903px 10.0172px rgba(255, 107, 0, 0.055), 0px 3.21545px 3.62304px rgba(255, 107, 0, 0.0383252)
    border-radius: 30px
    max-width: 264px
    position: absolute
    top: 140px
    right: -80px
    padding: 30px
    &_percent
      font-weight: bold
      font-size: 113.007px
      letter-spacing: -0.01em
      color: #FF6B00
      text-shadow: 0px 100px 80px rgba(255, 107, 0, 0.11), 0px 46.233px 36.9864px rgba(255, 107, 0, 0.0815843), 0px 26.4535px 21.1628px rgba(255, 107, 0, 0.0689459), 0px 16.0571px 12.8457px rgba(255, 107, 0, 0.0593943), 0px 9.67509px 7.74008px rgba(255, 107, 0, 0.0506057), 0px 5.38772px 4.31018px rgba(255, 107, 0, 0.0410541), 0px 2.31722px 1.85378px rgba(255, 107, 0, 0.0284157)
      margin-top: -100px
    &_title
      font-size: 20px
      line-height: 26px
      letter-spacing: -0.01em
      color: #13171D
    &_stock
      margin-top: 45px
      max-width: 182px
.stock
  &_title
    font-weight: 600
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.01em
    color: #13171D
    opacity: 0.5
  &_date
    @include flex
    justify-content: space-around
    text-align: center
    align-items: normal
  &_number
    font-weight: 600
    font-size: 32px
    line-height: 38px
    text-align: center
    letter-spacing: -0.01em
    color: #000
  &_name
    font-weight: 600
    font-size: 11px
    line-height: 13px
    text-align: center
    letter-spacing: -0.01em
    color: #13171D
    opacity: 0.5
.advantages
  &_title
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #13171D
    margin-top: 24px
  &_text
    margin-top: 16px
    font-size: 18px
    line-height: 24px
    color: #444444

.service
  &_body
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 90px
  &_title
    font-weight: bold
    font-size: 70px
    line-height: 84px
    color: #13171D
    min-width: 449px
    flex: 1 0 25%
  &_box
    background: #FFFFFF
    box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08)
    border-radius: 30px
    width: 290px
    height: 335px
    margin-right: 20px
    margin-top: 50px
    padding-left: 40px
    position: relative
  &_subtitle
    font-weight: 600
    font-size: 22px
    line-height: 30px
    color: #13171D
  &_next
    position: absolute
    bottom: -25px
    right: -10px
    background: #FFFFFF
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05)
    border-radius: 30px
    width: 64px
    height: 64px
    cursor: pointer
    padding: 10px
  &_img
    height: 228px